<article class="conteudo" itemscope itemtype="http://schema.org/Article">
    <header>
        <h2 itemprop="headline">
            <a href="{{ path('site_show', { 'chave': conteudo.chave }) }}" itemprop="url">{{ conteudo.titulo }}</a>
        </h2>
    </header>
    <div class="conteudo" itemprop="articleBody">{{ conteudo.conteudo | raw }}</div>
    <footer>
        <time datetime="{{conteudo.data|date('Y-m-dTH:i')}}" itemprop="datePublished">{{ conteudo.data|date('d/m/y H:i') }}</time>
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            Por <span itemprop="name">Everton Amaral Pereira</span>
        </span>
        
        <p>
            <a target="_blank" rel="nofollow" id="conteudo_votar" class="conteudo_votar" href="{{ path('conteudo_votar', { 'id': conteudo.id}) }}">Isso ajudou?</a>
            {% if conteudo.getVotos() > 0 %}
                <span class="conteudo_votos">
                    {{conteudo.getVotos()}}x
                </span>
            {% endif %}
        </p>
        
        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="name" content="Everton Corp.">
            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="{{ app.request.getSchemeAndHttpHost ~ asset('assets/vendor/everton/imagens/logo.png')}}">
                <meta itemprop="width" content="32">
                <meta itemprop="height" content="32">
            </div>
        </div>
        {% if pagina == 'artigo' %}
        <div id="disqus_thread"></div>
        <script>
        var disqus_config = function () {
            this.page.url = 'http://phpdev.pro.br';
            this.page.identifier = '{{ app.request.getSchemeAndHttpHost ~ path('site_show', { 'chave': conteudo.chave }) }}';
        };
        
        
        (function() {
            var d = document, s = d.createElement('script');
            s.src = '//phpdevprobr.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
        </script>
        
        {% else %}
            <a href="{{ path('site_show', { 'chave': conteudo.chave }) }}#disqus_thread" itemprop="url">Comentarios</a>
        {% endif %}
    </footer>
</article>