<article class="conteudo" itemscope itemtype="http://schema.org/Article">
    <header>
        <h2 itemprop="headline">
            <a href="{{ path('site_show', { 'chave': conteudo.chave }) }}" itemprop="url">{{ conteudo.titulo }}</a>
        </h2>
    </header>
    <div class="conteudo" itemprop="articleBody">{{ conteudo.conteudo | raw }}</div>
    <footer>
        <time datetime="{{conteudo.data|date('Y-m-dTH:i')}}" itemprop="datePublished">{{ conteudo.data|date('d/m/y H:i') }}</time>
        <span itemprop="author" itemscope itemtype="https://schema.org/Person">
            Por <span itemprop="name">Everton Amaral Pereira</span>
        </span>
        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="name" content="Everton Corp.">
            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="{{ asset('assets/vendor/everton/imagens/logo.png')}}">
                <meta itemprop="width" content="32">
                <meta itemprop="height" content="32">
            </div>
        </div>
        
    </footer>
</article>