<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Site Sem Nome</title>
  <link href="{{ app.request.getSchemeAndHttpHost ~ app.request.baseUrl}}"/>
  <updated>{{ "now"|date("c") }}</updated>
  <author>
    <name>Everton Amaral Pereira</name>
  </author>
  <id>{{ app.request.getSchemeAndHttpHost ~ app.request.baseUrl}}</id>
    {% for conteudo in conteudos %}
<entry>
        <title>{{ conteudo.titulo }}</title>
        <link href="{{ app.request.getSchemeAndHttpHost ~ path('site_show', { 'chave': conteudo.chave }) }}"/>
        <id>{{ app.request.getSchemeAndHttpHost ~ path('site_show', { 'chave': conteudo.chave }) }}</id>
        <updated>{{ conteudo.data|date("c") }}</updated>
        <summary>{{conteudo.conteudo | raw }}</summary>
    </entry>
    {% endfor %}
</feed>