{% extends 'base.html.twig' %}

{% block body %}
    {% if totalConteudosRetornados > 0%}
    <h2>Conteudo</h2>
    <section id="conteudos">
        {% for conteudo in conteudos %}
            {% include 'site/artigo.html.twig' with {'conteudo': conteudo} %}
        {% endfor %}
    </section>
    {% else %}
    <h2>Tem nada aqui nao.</h2>
    {% endif %}

    {% if maxPaginas > 1 %}
    <nav id="paginacao">
        <ul class="pagination pagination-sm">
            <li {{ estaPagina == 1 ? 'class="disabled"' }}>
                <a href="{{ path('site_index_paginacao', {pagina: estaPagina-1 < 1 ? 1 : estaPagina-1}) }}">«</a>
            </li>

            {% for i in 1..maxPaginas %}
            <li {{ estaPagina == i ? 'class="active"' }}>
            <a href="{{ path('site_index_paginacao', {pagina: i}) }}">{{ i }}</a>
            </li>
            {% endfor %}

            <li {{ estaPagina == maxPaginas ? 'class="disabled"' }}>
                <a href="{{ path('site_index_paginacao', {pagina: estaPagina+1 <= maxPaginas ? estaPagina+1 : estaPagina}) }}">»</a>
            </li>
        </ul>
    </nav>
    {% endif %}
        
{% endblock %}
