<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <meta name="theme-color" content="#666666" />
        <title>{% block title %}Site Sem Nome{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="canonical" href="{{ app.request.getSchemeAndHttpHost ~ app.request.baseUrl ~ app.request.pathInfo }}" />
        <script type="application/ld+json">
            { 
              "@context": "http://schema.org",
              "@type": "NewsArticle",
              "headline": "Site sem nome",
              "datePublished": "2016-09-01T19:02:41Z",
            }
        </script>
    </head>
    <body>
        <section id="site">
            <nav id="navegacao_topo">
                <ul>
                    <li><a href="{{ path('site_index') }}">Inicio</a></li>
                </ul>
            </nav>
            {% block body %}{% endblock %}
            <nav id="navegacao_rodape">
                <ul>
                    <li><a href="{{ path('site_index') }}">Inicio</a></li>
                </ul>
            </nav>
            {% block javascripts %}{% endblock %}
        </section>
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/everton/site.css')}}">
    </body>
</html>
