{% extends 'painel.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Conteudo</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Listando Conteudos</div>
        <div class="panel-body">
            <a href="{{ path('painel_conteudo_new') }}" class="btn btn-success">Criar Novo</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Categoria</th>
                    <th>Ativo</th>
                    <th>Data</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for conteudo in conteudos %}
                <tr>
                    <td><a href="{{ path('painel_conteudo_show', { 'id': conteudo.id }) }}">{{ conteudo.id }}</a></td>
                    <td>{{ conteudo.titulo }}</td>
                    <td>{{ conteudo.categoria }}</td>
                    <td>{% if conteudo.ativo %}Yes{% else %}No{% endif %}</td>
                    <td>{{ conteudo.data|date('Y-m-d H:i:s') }}</td>
                    <td>
                        <a href="{{ path('painel_conteudo_show', { 'id': conteudo.id }) }}" class="btn btn-primary">Ver</a>
                        <a href="{{ path('painel_conteudo_edit', { 'id': conteudo.id }) }}" class="btn btn-success">Editar</a>
                        <a href="{{ path('painel_conteudo_delete', { 'id': conteudo.id }) }}" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}
